body{
    background: #007EE5;
    min-height: 100%;
    color: #fff;
    font-weight: lighter;
}

/* Navbar
-------------------------------------------------- */
.navbar{
    padding: 20px 40px 0;
}
a, a:hover{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lato', serif;
}
.nav a:hover{
    color: #007EE5;
    background: transparent;
}

.dropdown-menu li a:hover{
    border-bottom: none;
}

/* Logo img
-------------------------------------------------- */
.container-box {
    padding: 0 50px;
}

@media (min-width: 617px) and (max-width: 767px) {
    .container-box {
        padding: 0 180px;
    }
}

img{
    display: block;
    margin: 30px auto auto;
}

@media (max-width: 400px) {
    img {
        margin: 30px 115px auto;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    img {
        margin: 30px 306px auto;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container-box {
        padding: 0 30px;
    }

    img {
        margin: 30px 418px auto;
    }
}

@media (min-width: 1201px) {
    img {
        margin: 30px 510px auto;
    }
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #fff;
    color: #282e3c;
}

/* Form
-------------------------------------------------- */
.form-group {
    margin-bottom: 20px;
}

.has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #ffffff;
    font-size: 0.9em;
}

/* Footer
-------------------------------------------------- */
.footer{
    padding: 0 60px;
}

footer .list-inline li a {
    font-weight: lighter;
}

@media (max-width: 767px) {
    .navbar{
        padding: 35px auto 0;
    }

    .nav li{
        display: inline-block;
    }

    img{
        width: 160px;
    }

    .footer{
        padding: 0 40px;
    }
}