/* Handling Long Words and URLs
-------------------------------------------------- */
body {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.row-margin{
    margin-bottom: 20px;
}

/* Navbar
----------------------------------------------------------*/
.navbar{
    background: #007EE5;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active{
    color: #fff;
    border-bottom: 2px solid #fff;

}
.navbar-brand{
    padding: 5px 15px;
}
.navbar-brand img{
    width: 125px;
    margin: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #0b0b0b;
}

/* Main content
----------------------------------------------------------*/
.main {
    z-index: 102;
    position: relative;
    background: #ffffff;
}
@media screen and (max-width: 768px) {
    .main {
        margin-top: 0px;
        padding-top: 20px;
    }
}
.main small{
    font-size: 12px;
}
.main label {
    font-size: 15px;
}
.small-label{
    font-size: 14px !important;
}

/* Texts
-------------------------------------------------- */
/*.italic {*/
    /*font-style: oblique;*/
/*}*/

/* HOME: Form and Map boxes
----------------------------------------------------------*/
@media screen and (max-width: 779px) {
    #leafletMap{
        height: 460px;
        margin: 30px 10px 0;
    }
}

@media screen and (min-width: 780px) {
    #form {
        margin-bottom: 0;
    }
    #form .btn{
        width: 92%;
    }
    #map {
        position: fixed;
        top: 60px;
        left: 450px;
        right: 0;
        bottom: 34px;
    }
    #leafletMap{
        width: 100%;
        height: 100%;
        position: relative;
    }

    /* Fixed and scroll columns
    ----------------------------------------------------------*/
    .scrollcol {
        position: fixed;
        top: 80px;
        left: 10px;
        right: 8px;
        bottom: 50px;
        width: 425px;
        overflow-y: scroll;
        height: 82%;
    }
    .fixedcol {
        overflow:hidden;
        padding: 0;
    }
}

/* Marker
----------------------------------------------------------*/
.marker{
    width: 22px;
}

/* Inline links
----------------------------------------------------------*/
.inline-links{
    list-style-type: none;
    padding: 0;
}

.inline-links li{
    display:inline-block;
    text-align: center;
}

.inline-links li a {
    text-decoration: none;
    margin-right: 12px;
}

/* Sticky footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    margin-top: 0;
    padding: 10px;
    text-align: right;
}

@media screen and (max-width: 768px){
    .footer{
        text-align: center;
    }
}


/* Radio buttons https://bootsnipp.com/snippets/ZkMKE
-------------------------------------------------- */
.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    vertical-align: top;}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0;  }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio-primary input[type="radio"] + label::after {
    background-color: #007EE5; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #007EE5; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #007EE5; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }


/* Lists
-------------------------------------------------- */
dd{
    margin-left: 30px; font-weight: 100;
}